#navbar{
    position:sticky;
    top:0px;
    font-family: 'Chilanka', cursive;
}
h1{
    font-family: 'Itim', cursive;
    padding-right: 40px;
    color: whitesmoke;
}

h3{
    text-align: center;
    text-decoration: underline;
    font-family: 'Itim', cursive;
}

h4{
    text-decoration:underline;
}


 img{
    border-radius: 50%;
}
.image{
    align-content: center;
    padding-left: 500px;
    background-image: url("https://image.shutterstock.com/image-photo/man-using-project-management-software-260nw-1118068022.jpg");
    height:768px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sup{
    border: 1px solid black;
    margin: 12px;
    /* padding: 9px; */
    font-family: 'Itim', cursive;
    font-size: 30px;
    text-align: center;
    margin-top:50px;
    background-color:#4DB6AC;
    color:whitesmoke;
}

#work{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    padding:8px;
    font-family: 'Itim', cursive;
    margin-top:50px;
}

#back{
    border: 1px solid black;
    margin:12px;
    padding:60px;
    justify-content: space-between;
    padding-bottom: 100px;
}

span{
    font-size: 25px;
    padding-left: 20px;
    font-family: 'Itim', cursive;
    padding: 13px;
}

.sk{
    text-align: center;
    font-family: 'Itim', cursive;
}

#hobby{
    padding-left: 900px;
    font-family: 'Itim', cursive;
    font-size:25px; 
}

#para{
    float: left;
    width: 35%;
    font-family: 'Itim', cursive;
    font-size: 25px;
    padding: 0px;
}

#hob{
    margin-left: 250px;
    font-family: 'Itim', cursive;
    font-size: 25px;
}

.hobby{
    padding-left: 650px;  
}

.content{
    font-family: 'Itim', cursive;
    font-size:25px;
}

#p{
    color:black;
    padding-top: 0px
}

h1{
    text-decoration: underline;
    padding-right: 60px;
    justify-content: center;
}

.pin{
    font-size: 25px;
    text-align: center;
    font-family: 'Itim', cursive;
}
.im{
    padding-left: 500px;
    padding-bottom: 0px;
     
}

#move{
    padding-left:610px;
    font-family: 'Itim', cursive;
    font-size: 25px;
    text-decoration: underline;
    padding-top:50px;
}

#work{
    padding-bottom: 170px;
}

