#navbar{
    position:sticky;
    top:0px;
    font-family: 'Chilanka', cursive;
}
h1{
    font-family: 'Amatic SC', cursive;
}

h3{
    text-align: center;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
}

h4{
    text-decoration:underline;
}


 img{
    border-radius: 50%;
}
.image{
    align-content: center;
    padding-left: 500px;
}
.sup{
    border: 1px solid black;
    margin: 12px;
    padding: 8px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

#work{
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    padding:8px;
    font-family: 'Amatic SC', cursive;
}

#back{
    border: 1px solid black;
    margin:12px;
    padding:40px;
    justify-content: space-between;
}
span{
    font-size: 28px;
    padding-left: 40px;
    font-family: 'Amatic SC', cursive;
}

#hobby{
    padding-left: 600px;
    font-family: 'Amatic SC', cursive;
}

#para{
    float: left;
    width: 35%;
    font-family: 'Amatic SC', cursive;
}

#hob{
    margin-left: 250px;
}

.hobby{
 padding-left: 650px; 
   
}
