#navbar{
    position: sticky;
    font-family: 'Chilanka', cursive;
}

.image{
    font-family: 'Itim', cursive;
    text-align: center;
    color: whitesmoke;
    background-image: url("https://cdn.pixabay.com/photo/2016/02/20/09/46/signature-1211779__340.jpg");
    height:616px;
    background-repeat: no-repeat;
    background-size: cover;
}

#about{
    background-color: teal;
    color:whitesmoke;
}

#projects{
    background-color: #009688;
    color:whitesmoke;
}

.sup{
    border:1px solid black;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 25px;    
}

h1{
    padding-top:10%;
}

h2{
    text-decoration: underline;
    text-align: center;
    font-family: 'Itim', cursive;
}

#move{
    padding-left:500px;
    font-family: 'Itim', cursive;
    text-decoration: underline;
    padding-top:30px;
}

.row{
    font-family: 'Itim', cursive;
}

form{
    width: 70%;
    margin-left: 15%;
}
.view{
    margin-left: 30%;
}
#col{
    margin-left: 35px;
}

#tl{
    margin-left: 10%;
}

img{
    border-radius: 50%;
}
